.content-wrap{
    border: 1px solid rgb(212, 212, 212);
    padding: 25px 15px;
    border-radius: 6px;
    box-shadow: 2px 1px 5px rgb(224, 224, 224);
}
.form-control:focus{
    box-shadow: none!important;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cover{
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
}
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}