.content-wrap{
    border: 1px solid red;
}
.form-control:focus{
    box-shadow: none!important;
}
.contact-info{
    display: flex;
    /* justify-content: start;
    align-items: center; */
    /* margin-top: 16px; */
}
.contact-info .cover{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
}